@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';


#content{
	background: linear-gradient(to bottom,#cacaca, #eaeaea, #f3f4f5, #ffffff, #ffffff);
}
#sidebar{
	background: #00723e;
}
#sidebarCollapse{
	background: #df9717;
	border-color: #df9717;
	/* Arriba | Derecha | Abajo | Izquierda */
	margin: 0px 5px 0px 5px;
}
#mapa_sitio{
	box-shadow: 0px 5px 15px #aeaeae; 
	border-radius: 5px;
}
#btn_agregar{
	background: #00723e;
  font-weight: 500;
  box-shadow: 0px 6px 6px #b6b6b6;
}


