#EncabezadoPerfilEstudiante{
				background: #00723e;

			}
			.espacioS{
				height: 15%;
			}
			.espacioM{
				height: 50px;
			}
			#correo{
				color: white;
				font-weight: lighter;
			}
			.containerZona{
				width: 90%;
				background: white;
				border-radius: 5px;
				box-shadow:0px 3px 12px #959595;
				margin: 0% 5% 4% 5%;
			}
			#content{
				text-align: center;
			}
			span{
				font-size: 20px;
				font-weight: 400;
				color: #df9717;
			}
			hr{
            	border: 0; 
            	border-top: 2px solid #ccc;  
            	padding: 0;
        	}